// ============================================
// User Info 组件样式
// ============================================

.user-info {
  background: @bg-white;
  height: 100%;
  padding: @spacing-xl;
  border: 1px solid @border-light;
  border-radius: @border-radius-lg;

  &__avatar {
    width: 64px;
    height: 64px;
    border-radius: @border-radius-circle;
    object-fit: cover;
  }
}
